<div class="container">
  <div class="m-4 float-end">
    <button type="button" class="btn btn-success add-new-product" data-bs-toggle="modal" data-bs-target="#createModal"
      data-bs-whatever="@mdo">+ Add New Product</button>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products; let i=index">
          <td scope="row">{{ i + 1}}</td>
          <td>
            <div class="img-container">
              <img src="{{ item.img }}" alt="{{ item.name }}" class="img">
            </div>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency:'INR' }}</td>
          <td>
            <!-- <button type="button" class="btn btn-outline-warning m-1" (click)="edit()">Edit</button> -->
            <button type="button" class="btn btn-outline-warning m-1" data-bs-toggle="modal" data-bs-target="#editModal"
              data-bs-whatever="@mdo" (click)="edit(item)">Edit</button>
            <button type="button" class="btn btn-outline-danger m-1" (click)="delete(item._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="product-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="product-name" name="product-name" [(ngModel)]="product.name">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">₹</span>
            <input type="text" class="form-control" id="price" name="price" placeholder="Price in rupees..."
              [(ngModel)]="product.price">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="discount" name="discount"
              placeholder="Discount in percentage..." [(ngModel)]="product.discount">
            <span class="input-group-text">%</span>
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control new-img-upload" id="uploadNewProduct" (change)="onChangeImg($event)">
          </div>
          <div class="mb-3">
            <p><sup class="text-danger">*</sup>All fields are mandatory.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal" (click)="reset()">Cancel</button>
        <button type="button" class="btn btn-success add-btn" data-bs-dismiss="modal" (click)="add()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="product-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="product-name" name="product-name" [(ngModel)]="editProduct.name">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">₹</span>
            <input type="text" class="form-control" id="price" name="price" placeholder="Price in rupees..."
              [(ngModel)]="editProduct.price">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="discount" name="discount"
              placeholder="Discount in percentage..." [(ngModel)]="editProduct.discount">
            <span class="input-group-text">%</span>
          </div>
          <div class="mb-3">
            <img [src]="editProduct.img" [alt]="editProduct.name" width="30px">
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control edit-img-upload" id="uploadForEditProduct" (change)="onChangeEditImg($event)">
          </div>
          <div class="mb-3">
            <p><sup class="text-danger">*</sup>All fields are mandatory.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal" (click)="reset()">Cancel</button>
        <button type="button" class="btn btn-success update-btn" data-bs-dismiss="modal" (click)="update()">Update</button>
      </div>
    </div>
  </div>
</div>
