.card-img-container {
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

  .card-img,
  .card-img-top {
    width: 100px;
    max-height: 190px;
  }
}

.card-body {
  padding: 10px 1px;

  .card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: medium;
  }
}
